<mat-toolbar color="primary" class="flex">
  <img
    alt="Nx logo"
    width="75"
    src="https://nx.dev/assets/images/nx-logo-white.svg"
  />
  <h1>Welcome to {{ title }}!</h1>
</mat-toolbar>
<mat-nav-list class="nav-menu">
  <a mat-list-item routerLink="/"> Home </a>

  <a mat-list-item routerLink="/a11y" [matMenuTriggerFor]="menuA11y"> A11y </a>
  <mat-menu #menuA11y="matMenu">
    <a mat-menu-item routerLink="/a11y/forms">
      <span>Forms</span>
    </a>
    <button mat-menu-item routerLink="/a11y/focus">
      <span>Focus</span>
    </button>
    <button mat-menu-item routerLink="/a11y/rdf-model">
      <span>RDF Model</span>
    </button>
  </mat-menu>

  <a mat-list-item routerLink="/fire" [matMenuTriggerFor]="menuFire"> Fire </a>
  <mat-menu #menuFire="matMenu">
    <a mat-menu-item routerLink="/fire/auth">
      <span>Auth</span>
    </a>
  </mat-menu>

  <a mat-list-item routerLink="/feat" [matMenuTriggerFor]="menuFeat"> Feat </a>
  <mat-menu #menuFeat="matMenu">
    <a mat-menu-item routerLink="/feat/auth">
      <span>Auth</span>
    </a>
    <a mat-menu-item routerLink="/feat/forms">
      <span>Forms</span>
    </a>
  </mat-menu>
</mat-nav-list>

<main>
  <router-outlet></router-outlet>
</main>
